{% trans_default_domain "content_fields" %}

{% block ezimageasset_field %}
    {% apply spaceless %}
        {% if not ez_field_is_empty(content, field) and parameters.available %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezimageasset')|trim}) %}

            {% set transformation = null %}

            <div {{ block( 'field_attributes' ) }}>
                    {{ render(controller(
                        'Ibexa\\Platform\\Bundle\\Connector\\Dam\\Controller\\AssetViewController::viewAction', {
                            destinationContentId: field.value.destinationContentId,
                            assetSource: field.value.source ?? null,
                            viewType: 'preview_ezimageasset',
                            no_layout: true,
                            params: {
                                parameters: parameters|default({})|merge({
                                    alternativeText: field.value.alternativeText,
                                    transformation: transformation
                                })
                            }
                        }
                    )) }}
            </div>
        {% else %}
            <em>{{ 'ezimageasset.not_available'|trans|desc('Image asset is not available (related content has been deleted or you have insufficient permissions)') }}</em>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block field_attributes %}
    {% apply spaceless %}
        {% set attr = attr|default( {} ) %}
        {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endapply %}
{% endblock %}
