{% extends '@ezdesign/ui/field_type/image_asset_view.html.twig' %}

{% block asset_preview %}
    {{ parent() }}
    <div>
        {{ 'ezimageasset.brandfolder.author_attribute'|trans({
            '%url%': asset.assetMetadata.author_link_html,
            '%author_name%': asset.assetMetadata.author,
            '%utm_source%': ibexa_brandfolder_utm_source(),
        })|desc('Photo by <a href="%url%">%author_name%</a> on <a href="https://brandfolder.com/?utm_source=%utm_source%&utm_medium=referral">Brandfolder</a> ')|raw }}
    </div>
{% endblock %}

{% block asset_metadata %}
    {% if asset.assetMetadata.alternativeText is defined %}
        <tr class="ez-field-preview__meta-value-row">
            <td>{{ 'ezimageasset.brandfolder.alternative_text'|trans|desc('External alternative text') }}:</td>
            <td>{{ asset.assetMetadata.alternativeText }}</td>
        </tr>
    {% endif %}
    <tr class="ez-field-preview__meta-value-row">
        <td>{{ 'ezimageasset.brandfolder.width'|trans|desc('Width') }}:</td>
        <td>{{ asset.assetMetadata.width }}</td>
    </tr>
    <tr class="ez-field-preview__meta-value-row">
        <td>{{ 'ezimageasset.brandfolder.height'|trans|desc('Height') }}:</td>
        <td>{{ asset.assetMetadata.height }}</td>
    </tr>
{% endblock %}
