{% extends '@ezdesign/ui/modal/generic_form.html.twig' %}

{% block form_fields %}
    {{ parent() }}
    {{ form_widget(form.section, {
        'attr': {
            'class': 'form-control',
        },
    }) }}
{% endblock %}

{% block form_start %}
    {{ form_start(form, {
        'attr': {
            'class': 'dam-search-form',
            'data-source' : source,
            'data-result-template': include('@ezdesign/ui/modal/brandfolder_search_result.html.twig', {
                asset_path: '{{ assetPath }}',
                source_id: '{{ sourceId }}',
                asset_id: '{{ assetId }}',
                alternative_text: '{{ alternativeText }}'
            })
        },
        'action': path('ibexa.platform.connector.dam.brandfolder_search'),
        'method': 'GET'
    }) }}
{% endblock %}